#our-story {
  height: 1172px;
  background-image: /*url('../img/chalk-doodles-top-left.png'),*/ url('../img/blackboard-bg.jpg');
  background-color: #2a2a2a;
  background-repeat: no-repeat;
  background-size: /*contain,*/ cover;
  background-position: /*top left center,*/ top center;
  /* background-attachment:  local, scroll; */
  /* display: ; */
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#our-story::after  {
  content: '';
  background: url('../img/chalk-doodles-top-left.png') no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#our-story .our-story-container {
  display: block;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; */
  max-width: 1365px;
  padding: 90px 33px 0;
  font-family: sans-serif;
  color: white;
  margin: 0 auto;
  max-width: 1430px;
}
#our-story .our-story-container h2 {
  font-family: 'Dancing Script', 'cursive', sans-serif;
  font-size: 7.2rem;
  color: white;
  padding: 0 7px 0;
  z-index: 1;
}
#our-story .our-story-container .top-row {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 0 16px 0 0;
  justify-content: space-between;
}
#our-story .our-story-container .top-row .left-text {
  max-width: 50%;
  position: relative;
  left: 2px;
  top: 1px;
}
#our-story .our-story-container .top-row .left-text p {
  max-width: 680px;
  line-height: 1.5;
  padding: 34px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.31rem;
}
#our-story .our-story-container .top-row .left-text p.first-p {

  font-size: 23px;
  font-weight: 700;
  padding: 60px 0 0;
}
#our-story .our-story-container .top-row .our-story-img1 {
  width: 550.3px;
  position: relative;
  transform: rotate(4deg);
  left: -1px;
  top: -45px;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
}
#our-story .our-story-container .top-row .our-story-img1 img {
  width: 100%;
}
#our-story .our-story-container .bottom-row {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content:  space-between;
}
#our-story .our-story-container .bottom-row .our-story-img2 {
  margin: 85px 0 0;
  width: 700px;
  transform: rotate(-2deg);
  position: relative;
  left: -3.5%;
  top: -82px;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
}
#our-story .our-story-container .bottom-row .our-story-img2 img {
  width: 100%;
}
#our-story .our-story-container .bottom-row .right-text {
  max-width: 680px;
  padding: 22px 0 0;
  position: relative;
}
#our-story .our-story-container .bottom-row .right-text p {
  line-height: 1.5;
  padding: 34px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.31rem;
  max-width: 580px;
}
#our-story .our-story-container .bottom-row .right-text p.first-p {
  padding: 16px 0 0 0;
}
#our-story .our-story-container .bottom-row .right-text p span a {
  text-decoration: underline;
  color: #AD9166;
  transition: .3s;
}
#our-story .our-story-container .bottom-row .right-text p span a:hover {
  color: #C9B79B;
}
#our-story .our-story-container .bottom-row .our-story-socials {
  // display: flex;
  padding: 40px 0 0;
  max-width: 600px;
}
#our-story .our-story-container .bottom-row .our-story-socials a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  color: rgb(173,145,102);
  padding: 12px 11px;
  border: 2px solid rgb(173,145,102);
  transition: 0.2s;
  display: inline-block;
  font-size: 0.9rem;
  margin-right: 0.2rem;
  letter-spacing: 0.04rem;
  cursor: pointer;
  z-index: 1;
  margin-top: 7px
}
#our-story .our-story-container .bottom-row .our-story-socials a:hover {
  color: #C9B79B;
  border: 2px solid #C9B79B;
}
#our-story .our-story-container .bottom-row .our-story-socials a:last-of-type{
  // width: 140px;
}
#our-story .our-story-container .bottom-row .our-story-socials a i {
  margin: 0 0.3rem 0 0;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1599px) {
  #our-story .our-story-container .bottom-row {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    padding-left: 52px;
  }
  #our-story .our-story-container .bottom-row .our-story-img2 {
    margin: 85px 0 0;
    width: 612px;
    transform: rotate(-2deg);
    position: relative;
    left: -3.5%;
    top: -82px;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
  }
  #our-story .our-story-container .bottom-row .right-text {
    left: 38px;
  }
  #our-story .our-story-container .bottom-row .right-text p {
    max-width: 94%;
  }
}
@media only screen and (max-width: 1399px) {
  #our-story .our-story-container h2 {
    font-family: 'Dancing Script', 'cursive', sans-serif;
    font-size: 7.0rem;
    color: white;
    padding: 0 7px 0;
    z-index: 1;
  }
  #our-story .our-story-container .top-row {
    padding-bottom: 40px;
  }
  #our-story .our-story-container .top-row .left-text {
    max-width: 52%;
    position: relative;
    left: 2px;
    top: 1px;
  }
  #our-story .our-story-container .top-row .img-container {
    padding-left: 72px;
  }
  #our-story .our-story-container .top-row .our-story-img1 {
    /* max-width: 550.3px; */
    width: 39vw;
    position: relative;
    transform: rotate(4deg);
    left: -1px;
    top: -45px;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 1299px) {

}
@media only screen and (max-width: 1199px) {
  #our-story .our-story-container {
    padding: 90px 12px 0;
  }
  #our-story .our-story-container h2 {
    font-size: 5.6rem;
  }
  #our-story .our-story-container .top-row .left-text p {
    padding: 20px 0 0;
    font-size: 1.16rem;
    line-height: 1.55;
  }
  #our-story .our-story-container .top-row .left-text p.first-p {
    padding: 34px 0 0;
  }
  #our-story .our-story-container .top-row .img-container {
    padding-left: 45px;
  }
  #our-story .our-story-container .top-row .our-story-img1 {
    width: 43.25vw;
    left: 13px;
    top: -24px;
  }
}
/* #our-story .our-story-container .left-column,
#our-story .our-story-container .right-column {
  z-index: 1;
}
#our-story .our-story-container .left-column {
  width: 100%;
  position: relative;
}
#our-story .our-story-container .left-column h2 {
  font-family: 'Dancing Script', 'cursive', sans-serif;
  font-size: 7.2rem;
  color: white;
  padding: 0 7px 0 ;

}
#our-story .our-story-container .left-column p {
  width: 680px;
  line-height: 1.5;
  padding: 34px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.31rem;
}
#our-story .our-story-container .left-column p.first-p {
  font-size: 23px;
  font-weight: 700;
  padding: 60px 0 0;
}
#our-story .our-story-container .left-column img {
  margin: 85px 0 0;
  width: 102%;
  transform: rotate(-2.5deg);
  position: absolute;
  left: -7%;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
}
#our-story .our-story-container .right-column {
  // width: 80%;
  padding: 0 0 0 100px;
  position: relative;
}
#our-story .our-story-container .right-column img {
  width: 80%;
  position: absolute;
  transform: rotate(3.5deg);
  top: 8%;
  left: 112px;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
}
#our-story .our-story-container .right-column p {
  width: 680px;
  line-height: 1.5;
  padding: 34px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.31rem;
  width: 580px;
}
#our-story .our-story-container .right-column p.first-p {
  padding: 33.15rem 0 0;
}
#our-story .our-story-container .right-column p span a {
  text-decoration: underline;
  color: #AD9166;
  transition: .3s;
}
#our-story .our-story-container .right-column p span a:hover {
  color: #C9B79B;
}
#our-story .our-story-container .right-column .our-story-socials {
  // display: flex;
  padding: 40px 0 0;
  width: 600px;
}
#our-story .our-story-container .right-column .our-story-socials a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  color: rgb(173,145,102);
  padding: 12px 11px;
  border: 2px solid rgb(173,145,102);
  transition: 0.2s;
  display: inline-block;
  font-size: 0.9rem;
  margin-right: 0.2rem;
  letter-spacing: 0.04rem;
  cursor: pointer;
  z-index: 5;
}
#our-story .our-story-container .right-column .our-story-socials a:hover {
  color: #C9B79B;
  border: 2px solid #C9B79B;
}
#our-story .our-story-container .right-column .our-story-socials a:last-of-type{
  // width: 140px;
}
#our-story .our-story-container .right-column .our-story-socials a i {
  margin: 0 0.3rem 0 0;
  font-size: 1.1rem;
} */

/* @media only screen and (max-width: 1599px) {
  #our-story .our-story-container .left-column img {
    margin: 85px 0 0;
    width: 102%;
    transform: rotate(-2.5deg) scale(0.9);
    position: absolute;
    left: -7%;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
  }
  #our-story .our-story-container .right-column p {
    width: 680px;
    line-height: 1.5;
    padding: 34px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.31rem;
    width: 644px;
    position: relative;
    top: 0;
    left: -62px;
  }
}
@media only screen and (max-width: 1499px) {
  #our-story  {
    padding: 0 40px 0;
  }
  #our-story .our-story-container {
    width: 80vw;
  }
  #our-story .our-story-container .left-column img {
    margin: 85px 0 85px 50px;
    width: 30vw;
    // transform: rotate(-2.5deg) scale(0.9);
    position: absolute;
    left: -7%;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 1399) {
  #our-story .our-story-container .left-column h2 {
    font-size: 6.8rem
  }
} */
