#our-story {
  height: 1100px;
  background-image: /*url('../img/chalk-doodles-top-left.png'),*/ url('../img/blackboard-bg.jpg');
  background-color: #2a2a2a;
  background-repeat: no-repeat;
  background-size: /*contain,*/ cover;
  background-position: /*top left center,*/ top center;
  /* background-attachment:  local, scroll; */
  /* display: ; */
  justify-content: center;
  position: relative;
  overflow: hidden;
}
#our-story::after {
  content: '';
  background: url('../img/chalk-doodles-top-left.png') no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0
}
#our-story .our-story-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 1365px;
  padding: 90px 0 0;
  font-family: sans-serif;
  color: white;
  margin: 0 auto;
}
#our-story .our-story-container .left-column,
#our-story .our-story-container .right-column {
  z-index: 1;
}
#our-story .our-story-container .left-column {
  width: 100%;
  position: relative;
}
#our-story .our-story-container .left-column h2 {
  font-family: 'Dancing Script', 'cursive', sans-serif;
  font-size: 7.2rem;
  color: white;
  padding: 0 7px 0 ;

}
#our-story .our-story-container .left-column p {
  width: 680px;
  line-height: 1.5;
  padding: 34px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.31rem;
}
#our-story .our-story-container .left-column p.first-p {
  font-size: 23px;
  font-weight: 700;
  padding: 60px 0 0;
}
#our-story .our-story-container .left-column img {
  margin: 85px 0 0;
  width: 102%;
  transform: rotate(-2.5deg);
  position: absolute;
  left: -7%;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
}
#our-story .our-story-container .right-column {
  /* width: 80%; */
  padding: 0 0 0 100px;
  position: relative;
}
#our-story .our-story-container .right-column img {
  width: 80%;
  position: absolute;
  transform: rotate(3.5deg);
  top: 8%;
  left: 112px;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
}
#our-story .our-story-container .right-column p {
  width: 680px;
  line-height: 1.5;
  padding: 34px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.31rem;
  width: 580px;
}
#our-story .our-story-container .right-column p.first-p {
  padding: 33.15rem 0 0;
}
#our-story .our-story-container .right-column p span a {
  text-decoration: underline;
  color: #AD9166;
  transition: .3s;
}
#our-story .our-story-container .right-column p span a:hover {
  color: #C9B79B;
}
#our-story .our-story-container .right-column .our-story-socials {
  /* display: flex; */
  padding: 40px 0 0;
  width: 600px;
}
#our-story .our-story-container .right-column .our-story-socials a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  color: rgb(173,145,102);
  padding: 12px 11px;
  border: 2px solid rgb(173,145,102);
  transition: 0.2s;
  display: inline-block;
  font-size: 0.9rem;
  margin-right: 0.2rem;
  letter-spacing: 0.04rem;
  cursor: pointer;
  z-index: 5;
}
#our-story .our-story-container .right-column .our-story-socials a:hover {
  color: #C9B79B;
  border: 2px solid #C9B79B;
}
#our-story .our-story-container .right-column .our-story-socials a:last-of-type{
  /* width: 140px; */
}
#our-story .our-story-container .right-column .our-story-socials a i {
  margin: 0 0.3rem 0 0;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1599px) {
  #our-story .our-story-container .left-column img {
    margin: 85px 0 0;
    width: 102%;
    transform: rotate(-2.5deg) scale(0.9);
    position: absolute;
    left: -7%;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.3);
  }
  #our-story .our-story-container .right-column p {
    width: 680px;
    line-height: 1.5;
    padding: 34px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.31rem;
    width: 644px;
    position: relative;
    top: 0;
    left: -62px;
  }
}
@media only screen and (max-width: 1499px) {

}
@media only screen and (max-width: 1399) {

}
