#vegan {
  background: #658359;
  height: 526px;
  max-height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#vegan::after {
  content: '';
  position: absolute;
  /* top: -30px; */
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url('../img/chalk-doodles-left.png') no-repeat, url('../img/chalk-doodles-right.png') no-repeat;
  background-position-x: left, right;
  background-position-y: 100%;
  filter: brightness(3);
}
#vegan .vegan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: ;
  /* filter: brightness(0.5); */
  z-index: 1;
}
#vegan img {
  padding-top: 0;
}
#vegan a {
  text-decoration: none;
  color: white;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  font-size: 1.85rem;
  padding: 22px 40px;
  border: 3px solid white;
  margin-top: 30px;
}
